* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    background-color: #0c1014;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
}

p {
    color: #8fc2f5;
    margin: 5px;
    text-align: left;
    font-size: clamp(1rem, 1.1vw, 2.5rem);
}

#wrapper {
    visibility: hidden;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    padding: 10px;
}

#device-name, #device-id, #connection-status, #device-battery, #collected-coordinates {
    margin: 2.5px;
    color: white;
    display: block;
    font-size: clamp(1rem, 0.8vw, 2.5rem);
}

#coordinates {
    text-align: center;
}

#latitude, #longitude {
    font-size: clamp(1rem, 0.8vw, 2.5rem);
    color: white;
}