<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rtls" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RTLS</name>
    <description>
        A real time location service application.
    </description>
    <author email="manjaricdorian0@gmail.com" href="https://manjaric.com">
    </author>
    <access origin="*"></access>
    <content src="connect.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <icon src="www/images/location.png" density="xxxhdpi" />
    </platform>
</widget>
